colorama==0.4.6 ; python_version >= "3.8" and python_version < "3.9" and platform_system == "Windows"
contourpy==1.1.0 ; python_version >= "3.8" and python_version < "3.9"
cycler==0.11.0 ; python_version >= "3.8" and python_version < "3.9"
fonttools==4.41.1 ; python_version >= "3.8" and python_version < "3.9"
importlib-resources==6.0.0 ; python_version >= "3.8" and python_version < "3.9"
kiwisolver==1.4.4 ; python_version >= "3.8" and python_version < "3.9"
matplotlib==3.7.2 ; python_version >= "3.8" and python_version < "3.9"
numpy==1.21.5 ; python_version >= "3.8" and python_version < "3.9"
packaging==23.1 ; python_version >= "3.8" and python_version < "3.9"
pillow==10.0.0 ; python_version >= "3.8" and python_version < "3.9"
pyparsing==3.0.9 ; python_version >= "3.8" and python_version < "3.9"
python-dateutil==2.8.2 ; python_version >= "3.8" and python_version < "3.9"
pyyaml==6.0.1 ; python_version >= "3.8" and python_version < "3.9"
scipy==1.7.3 ; python_version >= "3.8" and python_version < "3.9"
six==1.16.0 ; python_version >= "3.8" and python_version < "3.9"
tqdm==4.64.0 ; python_version >= "3.8" and python_version < "3.9"
zipp==3.16.2 ; python_version >= "3.8" and python_version < "3.9"
